<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id='root'>
    </div>
  </body>

  <!-- technical debt warning: idealy all of this should just be in the bundle file -->
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="./semantic/dist/semantic.min.js"></script>
  <script src="./javascripts/main-bundle.js"></script>
</html>
