<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id='root'>
    </div>
    <!-- technical debt warning: ideally all of this should just be in the bundle file -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="./semantic/dist/semantic.min.js"></script>
    <script src="./javascripts/bundle.js"></script>
  </body>
</html>
